@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui;
  --font-heading: "Poppins", "Inter", sans-serif;

  --animate-shine: shine 3s linear infinite;
  --animate-magic-spin: spin 2s linear infinite;
  --animate-spin-slow: spin 10s linear infinite;

  --container-padding: 1rem;
  --container-padding-sm: 1.5rem;
  --container-padding-lg: 2rem;
  --container-2xl: 1400px;

  @keyframes shine {
    0% {
      background-position: 200% 0;
    }

    100% {
      background-position: -200% 0;
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

@layer utilities {
  .container {
    width: 100%;
    margin-inline: auto;
    padding-inline: var(--container-padding);
  }

  @media (min-width: 640px) {
    .container {
      padding-inline: var(--container-padding-sm);
    }
  }

  @media (min-width: 1024px) {
    .container {
      padding-inline: var(--container-padding-lg);
    }
  }

  @media (min-width: 1536px) {
    .container {
      max-width: var(--container-2xl);
    }
  }
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --shiny-light-1: #4d4d4d;
  --shiny-light-2: #B63E96;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.58 0.22 27);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --radius: 0.625rem;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --shiny-dark-1: #6b6b6b;
  --shiny-dark-2: #58E6D9;
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.87 0.00 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.371 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
}

@layer base {
    * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
  }

  html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px; /* Sesuaikan sama tinggi header mobile */
  }

  @media (min-width: 768px) {
    html {
      scroll-padding-top: 88px; /* Sesuaikan sama tinggi header desktop */
    }
  }

  section {
    min-height: 100svh; /* Ini kuncinya */
    position: relative;
    background-color: var(--background);
    isolation: isolate;
    display: flex;
    align-items: center;
  }
}


html::-webkit-scrollbar {
  display: none !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}